{% extends "base.html" %} {% load static %}

{% block content %}
<section>
    <h2 class="text-teal-500 mb-4 text-sm font-bold text-center uppercase w-fit mx-auto">Have a glance at</h2>
    <h3 class="text-teal-900 text-5xl mb-6 font-bold text-center uppercase">Our Services</h3>
    <p class="text-center max-w-lg mx-auto">
        We have a range of medication, accessories and beauty products for your selection. Our trained specialists are on standby for efficiency at hand. Please select an item and check out. Timely delivery will then be arranged.
    </p>
</section>
{% endblock content %}