{% extends 'dashboard/_base.html' %}


{% block content %}
<div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">
        <div class="w-full lg:w-5/6 xl:w-full mx-8">
            
            <div class="bg-white shadow-md rounded my-6 p-4">
                <section title="info" class="grid grid-flow-col gap-8 my-8">
                    {% if request.user.is_sales_attendant or request.user.is_admin or request.user.is_superuser %}
                    <!-- expired drugs -->
                    <div class="py-4 px-8 rounded-xl bg-red-500 shadow-md transition-shadow hover:shadow-xl">
                        <a href="#" class="flex gap-8 w-full">
                            <div class="grid justify-center text-center w-full">
                                <span class="text-4xl font-bold">{{exp_count}}</span>
                                <span class="grid content-center">Expired Batches</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if request.user.is_admin or request.user.is_superuser %}
                    <div class="py-4 px-8 rounded-xl bg-blue-400 shadow-md transition-shadow hover:shadow-xl">
                        <a href="#" class="flex gap-8 w-full">
                            <div class="grid justify-center text-center w-full">
                                <span class="text-4xl font-bold">{{users.count}}</span>
                                <span class="grid content-center">Users</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </section>
                <section title="actions" class="grid grid-flow-col gap-8">
                    {% if request.user.is_sales_attendant or request.user.is_admin or request.user.is_superuser %}
                    <!-- record a sale -->
                    <div class="py-4 px-8 rounded-xl bg-teal-500 shadow-md transition-shadow hover:shadow-xl">
                        <a href="{% url 'dashboard:invoice-create' %}" class="flex gap-8">
                            <div>
                                <i class="fas fa-money-check-dollar text-3xl"></i>
                            </div>
                            <div class="grid">
                                <span class="grid content-center">Record a Sale</span>
                            </div>
                        </a>
                    </div>
                    <!-- add new stock -->
                    <div class="py-4 px-8 rounded-xl bg-amber-500 shadow-md transition-shadow hover:shadow-xl">
                        <a href="{% url 'dashboard:stock-in' %}" class="flex gap-8">
                            <div>
                                <i class="fas fa-folder-plus text-3xl"></i>
                            </div>
                            <div class="grid">
                                <span class="grid content-center">Add new Stock</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if request.user.is_clinician or request.user.is_admin or request.user.is_superuser %}
                    <!-- patient record -->
                    <div class="py-4 px-8 rounded-xl bg-blue-500 shadow-md transition-shadow hover:shadow-xl">
                        <a href="{% url 'dashboard:diagnosis-create' %}" class="flex gap-8">
                            <div>
                                <i class="fas fa-folder-plus text-3xl"></i>
                            </div>
                            <div class="grid">
                                <span class="grid content-center">Add Patient Record</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if request.user.is_admin or request.user.is_superuser %}
                    <!-- add new user -->
                    <div class="py-4 px-8 rounded-xl bg-red-500 shadow-md transition-shadow hover:shadow-xl">
                        <a href="{% url 'accounts:signup' %}" class="flex gap-8">
                            <div>
                                <i class="fas fa-user-plus text-3xl"></i>
                            </div>
                            <div class="grid">
                                <span class="grid content-center">Add New User</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </section>

                {% include 'dashboard/components/calendar.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
