<footer class="relative bg-teal-600 pt-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-2xl font-semibold text-Gray-700">Let's keep in touch!</h4>
                <h5 class="text-lg mt-2 text-white-600">
                    Subscribe to our newsletter.
                    <br>You can also find us on any of these platforms, we respond in 1-2 business days.
                </h5>
                <div class="w-full mt-4 bg-white rounded-md lg:max-w-sm border-white border-2 focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 focus-within:ring-opacity-40">
                    <form class="flex flex-col lg:flex-row">
                        <input type="email" placeholder="Enter your email address" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" /> 
                        
                        <button type="button" class="h-10 px-4 py-2 m-1 text-white transition-colors duration-200 transform bg-teal-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400">
                            Join Us
                        </button>
                    </form>
                </div>
                
                <div class="mt-6 lg:mb-0 mb-6">
                    <button
                        class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"><i class="fab fa-facebook-square"></i></button>
                    <button
                        class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"><i class="fab fa-twitter"></i></button>
                    <button
                        class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"><i class="fab fa-instagram"></i></button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-bold mb-2">Useful Links</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-500  block pb-2 text-sm"
                                    href="{% url 'frontend:homepage' %}"><i class="fas fa-house mr-2"></i>Home</a>
                            </li>
                            
                
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800  block pb-2 text-sm"
                                    href="{% url 'frontend:services' %}"><i class="fas fa-gear mr-2"></i>Services</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800  block pb-2 text-sm"
                                    href="{% url 'frontend:contact' %}"><i class="fas fa-phone mr-2"></i>Contact Us</a>
                            
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800  block pb-2 text-sm"
                                    href="{% url 'dashboard:index' %}">
                                    <i class="fas fa-lock mr-2"></i>Admin
                                </a>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-bold mb-2">Business Hours</span>
                        <ul class="list-unstyled text-sm">
                            <li>
                                <span class=" font-semibold">Monday – Saturday </span>
                                <br/>8:00 AM – 10:00 PM
                            </li>
                            <li>
                                <span class=" font-semibold">Sunday </span>
                                <br/>09:30 AM – 9:00 PM
                            </li>
                            <li>
                                <span class=" font-semibold">Public Holidays </span>
                                <br/>9:00 AM – 12:00 PM
                            </li>
                            <li>
                                Closed on Easter and Christmas
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300">
    </div>
    <div class="flex flex-wrap items-center md:justify-between justify-center bg-teal-400">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
                Copyright © <span id="get-current-year">2023</span><a
                    href="https://www.creative-tim.com/product/notus-js"
                    class="text-blueGray-500 hover:text-gray-800" target="_blank"> by Caroline
                    
            </div>
        </div>
    </div>
</footer>