{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mariana Pharmacy Dashboard</title>
   <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7293ac22c3.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
        .logo{
            font-family: 'Parisienne', cursive;
        }
        *{
            font-family: 'Montserrat', sans-serif;
        }
      </style>
   <script src="{% static 'js/alpine.js' %}" defer></script>
</head>
<body class="overflow-hidden bg-teal-50">
   <div class="flex h-screen w-screen overflow-hidden overflow-y-auto">
      <nav class="bg-teal-950 text-teal-100">
         <div class="brand px-4 py-2">
            <a href="{% url 'dashboard:landing' %}" class="logo text-4xl">Mariana<br/>Pharmacy</a>
         </div>
         <menu>
            <ul class="grid">
               <li class="px-4 py-4 hover:bg-teal-900">
                  <a href=""><span><i class="fas fa-home me-4"></i></span>Landing</a>
               </li>
               <li class="px-4 py-4 hover:bg-teal-900">
                  <a href=""><span><i class="fas fa-store me-4"></i></span>Stock</a>
               </li>
               <li class="px-4 py-4 hover:bg-teal-900">
                  <a href=""><span><i class="fas fa-user me-4"></i></span>Accounts</a>
               </li>
               <li class="px-4 py-4 hover:bg-teal-900">
                  <a href=""><span><i class="fas fa-hospital-user me-4"></i></span>Patients</a>
               </li>
               <li class="px-4 py-4 hover:bg-teal-900">
                  <a href="{% url 'drugs:drug-list' %}"><span><i class="fas fa-pills me-4"></i></span>Drugs</a>
               </li>
            </ul>
         </menu>
      </nav>
      <div class="flex-1">
         <header class="p-4 bg-white shadow-sm">
            <div class="flex gap-4 justify-end">
               <p class="uppercase">Welcome, <span class="font-bold">{{ request.user.username }}</span></p>
               <a href="/" class="uppercase font-semibold">home</a>
               <a href="/" class="uppercase font-semibold">logout</a>
            </div>
         </header>
         <div class="p-4">{% block content %}{% endblock content %}</div>
      </div>
   </div>
</body>
</html>